* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #ecf2f8;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 425px;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
}

.card .hero-img img {
  height: 300px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card .main h3 {
  padding: 1em;
  color: #48556a;
}

.card .main h4 {
  padding: 1em;
  color: #9eafc2;
}

.card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em 1em 1em;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.card .bottom .personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .bottom .personal .michelle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 1em;
}

.card .bottom .personal .name {
  color: #48556a;
  font-weight: 700;
  padding: .2em 0;
}

.card .bottom .personal .date {
  color: #9eafc2;
}

.card .bottom .social {
  position: absolute;
  left: -1em;
  bottom: -1em;
  border-radius: 0 0 15px 15px;
  background-color: #48556a;
  min-width: calc(100% + 2em);
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  overflow: hidden;
}

.card .bottom .social .p1 {
  color: #9eafc2;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 1em;
}

.card .bottom .social img {
  margin: 0 1em;
  cursor: pointer;
}

.card .bottom .social img:hover {
  width: 1.5em;
}

.card .bottom .clicked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  overflow: auto;
}

.card .bottom .share {
  width: 2em;
  height: 2em;
  margin-right: 1em;
  border-radius: 50%;
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 999;
}

.card .bottom .share:hover {
  background-color: #9eafc2;
}

@media (min-width: 768px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 768px;
  }
  .card .hero-img img {
    width: 300px;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }
  .card .bottom .social {
    left: 17em;
    bottom: 5em;
    height: 50px;
    border-radius: 10px;
    min-width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */